@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html {
    /* a cada 1rem será considera 10px */
    font-size: 62.5%;
  }
  
html,
body {
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    
}
  
body {
    font-size: 1.6rem;
}

header {
    background-color: #fff;
    border-bottom: 5px solid whitesmoke;
    padding: 0;
    margin: 0;
    height: 65px;
  }
  
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1200px;   
    margin: auto;
}

header img {
    width: 230px;
    margin-left: 10px;
}

header nav ul {
    display: flex;
    padding: 0;
    margin: 0;
}
  
header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.8rem; 
    padding: 1.0rem;
    display: inline-block;
    transition: all .5s; 
}

header nav ul li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    margin-top: 5px;
    background: #02DAFF;
    transition: all .5s;
}

header nav ul li a:hover::after {
    width: 100%;
}


.button {
    display: inline-block;
    font-size: 1.6rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background-color: rgb(113, 89, 193);
    margin: 15px 0px 0px;
    padding: 12px 30px;
    text-decoration: none;
    border-radius: 5px;
    transition: all 150ms linear 0s;
  }
  
  .button:hover {
    opacity: 0.9;
  }
  
  section.hero {
    margin: 0px 0;
    padding: 3.44% 20%;
  }
  
  section.hero .container {
    width: 90%;
    max-width: 980px; 
    margin: 0;
    display: flex;
  }
  
  section.hero p {
    font-size: 2rem;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
  }

section {
    background-color: #02DAFF;
}

form {
    text-align: center;
}

section.hero .container input{
    background-color: #000;
    height: 35px;
    width: 100%;    
    padding-bottom: 1.5rem;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    padding-top: 10px;
    margin-top: 10px;
}
section.hero img {
    max-width: 620px;
    height: auto;
}

h1 {
    font-size: 6.5rem;
    color: #133B4F;
    text-transform: uppercase;
}

h2 {
    padding-top: 20%;
    font-size: 5.5rem;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.cta {
    width: 120px;
    height: 35px;
    background-color: #02DAFF;
    color: #000;
    border: 1px solid #000;
    font-weight: 700;
    border-radius: 50px;
    align-items: center;
    cursor:pointer;
    margin-top: 10px;
}

.cta:hover{
    background-color: #000;
    color: #fff;
}

footer{
    width:100%;
    background: #02DAFF;
    margin:0; 
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p{
    padding-top: 0.4%;
    font-size: 1.5rem; 
}

footer a{
    font-size: 1.5rem; 
    text-decoration: none;
    color: #3A3A3A;
    display: inline-block;
    font-weight: bold;
}