* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* The box-sizing property defines how the width and height of an element are calculated: should they include padding and borders, or not. */
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
}

header {
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid whitesmoke;
    vertical-align: center;
    background-color: #fff;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

ul li a {
    padding: 0 20px;
    text-decoration: none;
    color: #3A3A3A;
    display: inline-block;
}

.logo{
    padding-top: 10px;
}

li a::after {
    content: '';
    display: block;
    height: 4px;
    width: 0;
    margin-top: 5px;
    background: #02DAFF;
    transition: all .5s;
}

li a:hover::after {
    width: 100%;
}

main {
    display: flex;
    align-items: center;
    /* align-items - vertically align */
    justify-content: center;
    /* justify- horizontally align */
    height: calc(100vh - 110px);
    background-color: #02DAFF;
}

.hero-img {
    max-width: 670px;
    height: auto;
}

.content-left {
    width: 30%;
}

main h1 {
    font-size: 64px;
    color: #133B4F;
    text-transform: uppercase;
}

main h2 {
    font-size: 45px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 8px;
}

main p {
    font-size: 16px;
    font-weight: 400;
    color: #333;
    line-height: 31.5px;
    margin: 30px 0;
}


.cta {
    width: 120px;
    height: 35px;
    background-color: #02DAFF;
    color: #000;
    border: 1px solid #000;
    font-weight: 700;
    border-radius: 50px;
    align-items: center;
    cursor:pointer;
}

.cta:hover{
    background-color: #000;
    color: #fff;
}

.content-left input{
    background-color: #000;
    height: 35px;
    width: 220px;
    border-radius: 50px;
    text-align: center;
    color: #fff;
}
.content-left input:focus{
    outline:0;
}

footer{
    height: 45px;
    text-align: center;
    align-items: center;
    background-color: #02DAFF;
}

footer p{
    font-size: 14px; 
}

footer a{
    font-size: 14px; 
    padding: 0 5px;
    text-decoration: none;
    color: #3A3A3A;
    display: inline-block;
    font-weight: bold;
}